
<div class="iot-sidebar">
	<!--logo and iconic logo start-->
	<div class="logo">
		<a href="#"><img src="/assets/iot/images/logo.png" alt=""></a>
	</div>
	<div class="left-side-inner">
		{% if sidebar_title %}
		<ul class="nav nav-pills nav-stacked custom-nav">
			<li class="title">
				{{ sidebar_title }}>
			</li>
			{% endif %}
			{% for item in sidebar_items -%}
			<li class="sidebar-item">
				<a href="{{ item.route }}" class="text-muted {{ 'active' if pathname==item.route else '' }}"
				   {% if item.target %}target="{{ item.target }}"{% endif %}>
					{{ _(item.title or item.label) }}
				</a>
			</li>
			{%- endfor %}
			{% if frappe.user != 'Guest' %}
			<li class="sidebar-item">
				<a href="/me">{{ _("My Account") }}</a>
			</li>
			{% endif %}
		</ul>


	</div>
</div>
<script>
frappe.ready(function() {
	$('.sidebar-item a').each(function(index) {
	        if(this.href.trim() == window.location)
	            $(this).addClass("active");
	    });
});
</script>